<html>

<head>
    <title>SecureShare</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        a {
            text-decoration: none;
            color: #5d5d5d;
        }
    </style>
</head>

<body>
    <!-- delete file modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deleteModalLabel">Action needed</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="deleteForm" class="row g-3" action="/api/files" method="get">
                        <div class="col-auto">
                          <button type="submit" class="btn btn-primary mb-3" onclick="deleteFile(event)">DELETE</button>
                        </div>
                      </form>
                </div>
            </div>
        </div>
    </div>

    <!-- share file modal -->
    <div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="shareModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="shareModalLabel">Action needed</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                            <form id="shareForm" class="row g-3" action="/api/files" method="get">
                                <div class="col-auto">
                                  <label for="username" class="visually-hidden">username</label>
                                  <input type="text" name="username" class="form-control" placeholder="username">
                                </div>
                                <div class="col-auto">
                                  <label for="expiry" class="visually-hidden">expiry</label>
                                  <input type="number" name="expiry" class="form-control" placeholder="expiry (in minutes)">
                                </div>
                                <div class="col-auto">
                                  <button type="submit" class="btn btn-primary mb-3">Share</button>
                                </div>
                              </form>
                </div>
            </div>
        </div>
    </div>

    <div class="header">
        <a href="/">
            <img id="logo" src="/assets/logo.png" width="200px" alt="">
        </a>
        
        <br>
        <a href="/api/auth/signout">
            <button type="button" class="btn btn-primary">
                Sign out
              </button>
        </a>
    
        <a href="/api/user/messages">
              <button type="button" class="btn btn-primary position-relative">
                Notifications
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    <%=messages.length%>
                  <span class="visually-hidden">unread messages</span>
                </span>
              </button>
        </a>

        <a href="/api/embeddings">
            <button type="button" class="btn btn-primary">
                Semantic Search
            </button>
        </a>

        <p>
            Username: <%= userId %>
        </p>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Filename</th>
                <th scope="col">Size (in bytes)</th>
                <th scope="col">Download</th>
                <th scope="col">Delete</th>
                <th scope="col">share</th>
            </tr>
        </thead>
        <tbody>
            <% files?.forEach(file=> { %>
                <tr>
                    <td>
                        <%= file.fileName %>
                    </td>
                    <td>
                        <%= file.size %>
                    </td>
                    <td><a class="button-links download" href="<%= file.fileUrl %>" target="_blank"><img
                                src="/assets/download.png" alt="download"></a></td>

                    <td><input type="button" data-bs-toggle="modal" data-bs-target="#deleteModal"
                        class="btn btn-primary" data-shareurl="/api/files/<%= file._id %>" value="delete" onclick=changeDeleteUrl(event)></td>

                    <td><input type="button" data-bs-toggle="modal" data-bs-target="#shareModal" class="btn btn-primary"
                            data-shareurl="/api/files/<%= file._id %>" onclick=changeShareUrl(event) value="share"></td>
                </tr>
                <% }) %>
        </tbody>
    </table>

    <form id="folderForm" action="/api/files" enctype="multipart/form-data" method="post">
        <div class="container-drop">
            <h1>
                upload file here
            </h1>
            <div>
                <input class="form-control form-control-lg" name="file" id="formFileLg" type="file" required>
                <input type="submit" class="submit-button btn btn-primary" value="upload">
            </div>
        </div>
    </form>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="/script.js"></script>

</html>

